body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    height: 100%;
    background-color: #B2D6FF;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Position logo and navbar items */
    align-items: center;
    padding: 25px 50px; /* Add padding to the left and right sides */
    position: absolute;
    top: -20px; /* Adjust the position of the navbar upwards */
    width: calc(100% - 100px); /* Adjust width to account for padding */
}

.navbar img {
    height: 110px; /* Memperbesar ukuran logo */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 25px; /* Menambah jarak antar item navbar */
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em; /* Memperbesar teks navbar */
}

.section1 {
    background: url('../../assets/tuhanMemberkati.jpg') no-repeat center center/cover;
    height: 100vh; /* Set height to 80% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.section1 .headerOne{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
}

.section1 .headerTwo {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
}

.section1 .eksplore {
    background-color: #2E317F;
    color: white;
    border: none;
    border-radius: 37px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Set to absolute to position it independently */
    top: 80%; /* Adjust this value to position flex-container */
    left: 50%;
    transform: translateX(-50%);
}

.box {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 18px;
}

.boxContent{
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about{
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

.about h2{
    font-size: 45px;
    font-weight: bold;
}

.about p{
    font-size: 20px;
}

.paragraphOne .paragraphTwo{
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 10px 50px;
}

.popularDestination{
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: 50px;
}

.popularDestination h2{
    font-size: 45px;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 0; /* Remove padding */
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 15px 15px 0 0; /* Match the card's border radius */
    margin: 0; /* Remove margin */
}

.card h3 {
    margin: 20px 0 10px;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    color: #666;
    margin: 0 20px 20px; /* Add margin to keep text padding */
}

.card button.book-now {
    background-color: #1d3a96;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.1s linear;

}

.card button.book-now:hover {
    transition: all 0.1s linear;
    background-color: #a2bae0;
}

.more-button {
    background-color: #1d3a96;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.more-button:hover {
    background-color: #1d3a96;
}

.footer {
    background-color: #040B59;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.footer .social-media {
    margin-bottom: 20px; /* Add margin below social media icons */
}

.footer .social-media a img {
     width: 30px; /* Set size of footer social icons */
    margin: 0 10px; /* Add spacing between icons */
}

.footer .footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px; /* Add spacing between footer nav items */
    font-size: 1.1em;
}