.navbar {
  display: flex;
  justify-content: space-between; /* Position logo and navbar items */
  align-items: center;
  padding: 25px 50px; /* Add padding to the left and right sides */
  position: absolute;
  top: -20px; /* Adjust the position of the navbar upwards */
  width: calc(100% - 100px); /* Adjust width to account for padding */
}

.navbar img {
  height: 110px; /* Memperbesar ukuran logo */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 25px; /* Menambah jarak antar item navbar */
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em; /* Memperbesar teks navbar */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  margin: 0;
  font-family: Arial, sans-serif;
}
.login-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  box-sizing: border-box;
}
.login-card h2 {
  margin-top: 0;
  text-align: center;
}
.login-card form {
  display: flex;
  flex-direction: column;
}
.login-card input[type="email"],
.login-card input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.login-card input[type="submit"] {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.login-card input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Footer */
.footer {
  background-color: #040B59;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.footer .social-media {
  margin-bottom: 20px; /* Add margin below social media icons */
}

.footer .social-media a img {
   width: 30px; /* Set size of footer social icons */
  margin: 0 10px; /* Add spacing between icons */
}

.footer .footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px; /* Add spacing between footer nav items */
  font-size: 1.1em;
}

.footer p {
  margin: 10px 0 0;
  font-size: 0.9em;
}

.footer .bold-text {
  font-weight: bold;
}
